html{
    box-sizing: border-box;
    background-color: #1B2533;
  }
  *, *:before, *:after{
    box-sizing: inherit;
  }
  
  .card{
    margin:auto;
    height:540px;
    width:300px;
    border-radius:9px;
    background-color: #223042;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  }
  .card:hover{
    transition: transform 330ms ease;
    background-color: #0d192b;
    transform: scale(1.04);
  }
  #top-section{
    height:50%;
    width:100%;
    border-radius:8px;
    margin-bottom: 35px
  }
  #bottom-section{
    font-family: 'Outfit';
    margin:17px;
    height:45.2%;
    width:100%;
    border-radius:8px
  }
  #top-section img{
    margin: 18px;
    height: 262px;
    width: 262px;
    border-radius:9px
  }
  #price-nft{
    display: inline-block;
    color: #00fff7;
    font-weight:600;
    text-align: center;
  }
  #bottom-section h3{
    color: #FFFFFF;
    font-weight:600;
  }
  #dec-text{
    color: #8bacda;
  }
  #days-left{
    position: relative;
    margin-left: 90px;
    font-size: 15px;
    display: inline-block;
    color: #8bacda;
    font-weight: 400;
  }
  #cr-by{
    color: #8bacda;
  }
  #line{
    border-top: 1px solid #8bacda;
    margin-right: 40px;
  }
  #bld-id{
    color: #FFFFFF;
    font-weight: 600;
  }
  